<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Solar system</title>
  <link href="https://fonts.googleapis.com/css?family=Abel|Gaegu|Poor+Story" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <header>
    <%# <h2>** Picture of sun here or something **</h2> %>
    <img class="header-img" src="/stylesheets/little_planets.jpg" alt="">
    <h2> <a href="/">Home</a>   |   <a href="/about">About</a> <h3>
  </header>

  <%= yield %>

  <footer>
  <p></p>
  </footer>

</body>
</html>