<h1>Add your own magical planet</h1>

<form action="/planets" method="post">
    <label for="">name</label>
    <input type="text" name="name">

    <label for="">diameter (km)</label>
    <input type="text" name="diameter">

    <label for="">distance from the sun</label>
    <input type="text" name="distance_fr_sun">

    <label for="">image url</label>
    <input type="text" name="image_url">
    
    <button>post</button>
</form>