header {
   /* background-color: #2D1D22; */
    /* font-family: 'Gaegu', cursive; */
    font-family: 'Poor Story', cursive;
    text-align: center;
    
}

body {
    /* background-image: url(https://images.unsplash.com/photo-1509515837298-2c67a3933321?ixlib=rb-0.3.5&s=8a901ff69416b85f5f4f0fdcf27d67fd&auto=format&fit=crop&w=1234&q=80); */
    background-image: url(https://images.unsplash.com/photo-1506946604214-968e32a47e84?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0dbb8af00b7ac71a09c1a60866512a2e&auto=format&fit=crop&w=1234&q=80);
    background-size: cover;
    color: white;
    font-family: 'Abel', sans-serif;
    margin: 0px;
}

h1 {
    font-family: 'Poor Story', cursive;
    font-size: 4em;
    margin-top: 10px;
}

h2 {
    padding: 10px;
    margin-top: 0px;
}

p {
    font-size: 1.2em;
}

.container {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    width: 60%;
}

.img-container {
    width: 600px;

    
}

img {
    width: 60%;
    /* mask-image: radial-gradient(ellipse 90% 80% at 48% 78%, black 40%, transparent 50%); */
    /* -webkit-mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
    mask-image: linear-gradient(to bottom, transparent 25%, black 75%); */
    -webkit-mask-image: radial-gradient(ellipse 95% 95% at 50% 50%, black 30%, transparent 80%);
    mask-image: radial-gradient(ellipse 90% 80% at 70% 70%, black 40%, transparent 50%);

}

.planet-img {
    /* -webkit-box-reflect: below -150px linear-gradient(transparent, white); */
    -webkit-box-reflect: below -70px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.2)));
}


a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin-top: 40px;
    
}

.btn-red {
    background-color: rgb(211, 116, 116);
    width: 80px;
    height: 40px;
    border: none;
    font-size: 1em;
    color: rgb(49, 49, 49);
    display: inline;
    font-family: 'Abel', sans-serif;
}

.btn-normal {
    background-color: rgb(223, 223, 223);
    width: 60px;
    height: 20px;
    font-size: 1em;
    color: rgb(49, 49, 49);
    display: inline;
    margin-right: 20px;
}

.btn-new {
    /* background-color: rgb(240, 163, 230); */
    background-color: #82666F;
    width: 100px;
    height: 30px;
    font-size: 1em;
    /* color: rgb(49, 49, 49); */
    color: white;
    display: inline;
    margin-right: 20px;
}